  <!-- <app-form-cargo></app-form-cargo> -->
  <nav>
      <div class="nav-wrapper">
        <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
        <a href="#" class="brand-logo" target="_blank"></a>
        <ul class="right hide">
          <li><a href="https://codepen.io/collection/nbBqgY/" target="_blank">Sass</a></li>
          <li><a href="https://codepen.io/collection/nbBqgY/" target="_blank">Components</a></li>
          <li><a href="https://codepen.io/collection/nbBqgY/" target="_blank">Javascript</a></li>
          <li><a href="https://codepen.io/collection/nbBqgY/" target="_blank">Mobile</a></li>
        </ul>

        <ul class="side-nav" id="mobile-demo">
          <li class="sidenav-header blue">
            <div class="row">
              <div class="col s4">
                  <!-- <img src="https://gravatar.com/avatar/961997eb7fd5c22b3e12fb3c8ca14e11?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png" width="48px" height="48px" alt="" class="circle responsive-img valign profile-image"> -->
              </div>
              <div class="col s8">
                  <div class="btn-flat dropdown-button waves-light white-text main-menu" data-activates="profile-dropdown">Menu</div>
              </div>
            </div>
          </li>

          <li class="blue">
            <ul class="collapsible collapsible-accordion">
                <li>
                  <a class="collapsible-header white-text  waves-blue "><i class="material-icons white-text ">folder</i>Cadastros <i class="material-icons right white-text" style="margin-right:0;">arrow_drop_down</i></a>
                  <div class="collapsible-body z-depth-3">
                    <ul>
                      <li><a [routerLink]=" ['./cargo'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}" class=" waves-blue"><i class="material-icons">work</i>Cargo</a></li>
                      <li><a [routerLink]=" ['./usuario'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}" class=" waves-blue"><i class="material-icons">person_add</i>Usuário</a></li>
                      <li><a [routerLink]=" ['./perfil'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}" class=" waves-blue"><i class="material-icons">group_add</i>Perfil</a></li>
                      <li><div class="divider"></div></li>
                    </ul>
                  </div>
                </li>
            </ul>
          </li>

          <li class="blue">
            <ul class="collapsible collapsible-accordion">
              <li>
                <a class="collapsible-header white-text waves-blue"><i class="material-icons white-text">list</i>Listagem <i class="material-icons right white-text" style="margin-right:0;">arrow_drop_down</i></a>
                <div class="collapsible-body">
                  <ul>
                    <li><a [routerLink]=" ['./list-cargo'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}" class=" waves-blue" href="#"><i class="material-icons">work</i>Cargos</a></li>
                    <li><a [routerLink]=" ['./list-usuario'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}" class=" waves-blue" href="#"><i class="material-icons">person</i>Usuários</a></li>
                    <li><a [routerLink]=" ['./list-perfil'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}" class=" waves-blue" href="#"><i class="material-icons">people</i>Perfis</a></li>
                    <li><div class="divider"></div></li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>
        </ul>

      </div>
    </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
