<div class="center">
  <app-loader [loading]="loading" [failed]="failed"></app-loader>
</div>
<div class="row">
  <div class="col s12 m6">
    <div class="card ">
      <div class="card-content">
        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Editar</th>
              <th>Deletar</th>
            </tr>
          </thead>

          <tbody *ngFor="let cargo of pagedItems" [class.active]="page == currentPage">
            <tr>
              <td>{{ cargo.nome }}</td>
              <td><button class="modal-close btn warn waves-effect white-text " (click)="openModal(cargo)">Editar</button></td>
              <td><button class="modal-close btn red waves-effect white-text " (click)="deletar(cargo.id)">Deletar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m6">
    <div class="card ">
      <div class="card-content">
        <!-- <app-pagination [offset]="offset" [limit]="limit" [size]="count" (pageChange)="onPageChange($event)"></app-pagination> -->
        <!-- pager -->
        <ul *ngIf="pager.pages && pager.pages.toArray() | async" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(1)">First</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li *ngFor="let page of pager.pages.toArray() | async" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1)">Next</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.totalPages)">Last</a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modal2" [materializeParams]="[{dismissible: false}]" materialize="modal" style="z-index: 1005; display: block; opacity: 1; bottom: 0px;"
  [materializeActions]="modalActions">
    <div class="modal-content">
        <div class="row">
          <form [formGroup]="roleForm" class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input id="nome" placeholder="Nome" type="text" class="validate" formControlName="nome">
                <label for="nome">Nome *</label>
                  <div *ngIf="roleForm.controls['nome'].invalid && (roleForm.controls['nome'].dirty || roleForm.controls['nome'].touched)">
                    <div *ngIf="roleForm.controls['nome'].errors.required">
                    <small>Nome é obrigatório.</small>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
    </div>
    <div class="modal-footer">
      <button class="modal-close btn red waves-effect white-text waves-green">Fechar</button>
      <button [disabled]="roleForm.controls['nome'].errors" class="waves-effect waves-red btn blue lighten-1" (click)="salvar(cargo)">Salvar</button>
    </div>
  </div>

